.prohive-hidden{
    display:none !important;
}
#confirmUpdate::before,#permitNotification::before{
    content:'';
    display:flex;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition:opacity .3s ease-in-out;
    pointer-events:none
}
.showConfirmUpdate#confirmUpdate::before,.showConfirmUpdate#permitNotification::before{
    opacity:1
}
.showConfirmUpdate #confirmElement,.showConfirmUpdate #permitElement{
    transform:none !important
}
@-webkit-keyframes progressHiveBellring{
    0%{
        -webkit-transform:rotate(27deg)
    }
    100%{
        -webkit-transform:rotate(-27deg)
    }
}
@-webkit-keyframes InstallIconShake{
    10%,90%{
        -webkit-transform:translate3d(-1px,0,0);
        transform:translate3d(-1px,0,0)
    }
    20%,80%{
        -webkit-transform:translate3d(2px,0,0);
        transform:translate3d(2px,0,0)
    }
    30%,50%,70%{
        -webkit-transform:translate3d(-4px,0,0);
        transform:translate3d(-4px,0,0)
    }
    40%,60%{
        -webkit-transform:translate3d(4px,0,0);
        transform:translate3d(4px,0,0)
    }
}
@keyframes InstallIconShake{
    10%,90%{
        -webkit-transform:translate3d(-1px,0,0);
        transform:translate3d(-1px,0,0)
    }
    20%,80%{
        -webkit-transform:translate3d(2px,0,0);
        transform:translate3d(2px,0,0)
    }
    30%,50%,70%{
        -webkit-transform:translate3d(-4px,0,0);
        transform:translate3d(-4px,0,0)
    }
    40%,60%{
        -webkit-transform:translate3d(4px,0,0);
        transform:translate3d(4px,0,0)
    }
}