#pn-card{
    text-align:center;
    visibility:hidden;
    min-width:250px;
    background-color:#5A10C9;
    height:30px;
    width: 30%;
    color:#fff;
    position:fixed;
    z-index:9999;
    top:50%;
    left:17px;
    transform: translate(-50%) rotate(90deg);
    -webkit-transform: translate(-50%) rotate(90deg);
    -moz-transform: translate(-50%) rotate(90deg);
    -o-transform: translate(-50%) rotate(90deg);
    -ms-transform: translate(-50%) rotate(90deg);
    font-size:14px;
    font-family:sans-serif;
    font-weight:bolder;
    -webkit-box-shadow:0 0 6px 0 rgba(0,13,9,.34);
    -moz-box-shadow:0 0 6px 0 rgba(0,13,9,.34);
    box-shadow:0 0 6px 0 rgba(0,13,9,.34);
    border-radius:16px 16px 0 0
}
.pnglogocontainer{
    display:inline-block;
    padding:1px;
     position: relative;
}
.pnglogocontainer img{
    height:18px;
    width:auto;
    margin-bottom:-5px
}
@-webkit-keyframes slideup{
    from{
        left:-17px;
        opacity:0
    }
    to{
        left:17px;
        opacity:1
    }
}
@keyframes slideup{
    from{
        left:-17px;
        opacity:0
    }
    to{
        left:17px;
        opacity:1
    }
}
@-webkit-keyframes slidedown{
    from{
        left:17px;
        opacity:1
    }
    to{
        left:-17px;
        opacity:0
    }
}
@keyframes slidedown{
    from{
        left:17px;
        opacity:1
    }
    to{
        left:-17px;
        opacity:0
    }
}
#card-content{
    width: 30%
}